//字体定义规范
$font-size-small-s = 16px
$font-size-small = 18px
$font-size-medium = 22px
$font-size-medium-x = 24px
$font-size-large = 28px
$font-size-large-x = 32px

$color-background=#fe465b
$base-background=#fff

